CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/tildagon/partitions-tildagon.csv"

CONFIG_TINYUSB_DESC_HID_STRING="TiLDAGON badge"
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Electromagnetic Field"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TiLDAGON"

CONFIG_FLOW3R_CTX_FLAVOUR_SMOL=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y