CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/tildagon/partitions-tildagon.csv"

CONFIG_TINYUSB_DESC_HID_STRING="TiLDAGON badge"
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Electromagnetic Field"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TiLDAGON"
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x16D0
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x120E
CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=n
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n

CONFIG_FLOW3R_CTX_FLAVOUR_SMOL=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_EXCLUDE_PROJECT_VER_VAR=n
CONFIG_APP_EXCLUDE_PROJECT_NAME_VAR=n
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y

CONFIG_FREERTOS_ENABLE_STATIC_TASK_CLEAN_UP=y

CONFIG_COMPILER_OPTIMIZATION_DEBUG=n
CONFIG_COMPILER_OPTIMIZATION_PERF=n
CONFIG_COMPILER_OPTIMIZATION_NONE=n
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=n
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y

CONFIG_LOG_DEFAULT_LEVEL_NONE=n
CONFIG_LOG_DEFAULT_LEVEL_ERROR=n
CONFIG_LOG_DEFAULT_LEVEL_WARN=n
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=n
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=n

CONFIG_LOG_TAG_LEVEL_IMPL_NONE=y
CONFIG_LOG_TAG_LEVEL_IMPL_LINKED_LIST=n
CONFIG_LOG_TAG_LEVEL_IMPL_CACHE_AND_LINKED_LIST=n

CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n

CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y

CONFIG_ESP32S3_INSTRUCTION_CACHE_16KB=n
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_16KB=n
CONFIG_ESP32S3_DATA_CACHE_32KB=n
CONFIG_ESP32S3_DATA_CACHE_64KB=y
